datapreprocessing/proprecessing_vaccination_bytype.ipynb
datapreprocessing/Untitled.ipynb
datapreprocessing/Untitled1.ipynb
datapreprocessing/Untitled2.ipynb
datapreprocessing/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
datapreprocessing/.ipynb_checkpoints/Untitled2-checkpoint.ipynb
datapreprocessing/.ipynb_checkpoints/Untitled-checkpoint.ipynb
datapreprocessing/datas/foodwaste_total_sum.csv
datapreprocessing/datas/foodwaste_total_sum_최종.csv
datapreprocessing/rowdata/02-1_내국인유동인구_KOREAN.CSV
datapreprocessing/rowdata/02-2_장기체류 외국인 유동인구_LONG_TERM_FRGN.CSV
datapreprocessing/rowdata/02-3_단기체류 외국인 유동인구_SHORT_TERM_FRGN.CSV
datapreprocessing/rowdata/03_거주인구_RESIDENT_POP.CSV
datapreprocessing/rowdata/04_음식관련 카드소비_CARD_SPENDING.CSV
datapreprocessing/rowdata/0없애고저장.csv
datapreprocessing/rowdata/emd_nm_changed.csv
datapreprocessing/rowdata/FOOD_WASTE.CSV
